<!DOCTYPE html>
<html>
  <head>
    <title>Roomshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-sm-6">
            <a href= "/home/top"><h3>Room share</h3></a>
            <div class="form-group">
              
            </div>
          
          </div>
          <div class="col-sm-6" style="text-align:right">
            
            
            <nav>
              
              <% if user_signed_in? %>
                ユーザー：<%= current_user.user_name %>様<br>
                <hr>
                <%= link_to "マイページ", acount_path(current_user) %><br>
                <%= link_to "お部屋を登録", new_room_path %><br>
                <%= link_to "登録済みお部屋一覧", entry_user_path(current_user) %><br>
                <%= link_to "ご予約履歴", acount_path(current_user) %><br>
                <%= link_to "ログアウト", sign_out_path, method: :delete %>
              <% else %>
                <%= link_to '新規登録', new_user_registration_path %><br>
                <%= link_to 'ログイン', new_user_session_path %>
              <% end %>
            </nav>
          </div>  
        </div>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
